
<div class="row">
  <div class="col-md-3">
    <form role="form" ng-submit="addEntry()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" ng-model="new.name">
      </div>

      <div class="form-group">
        <label for="start">Start date</label>
        <input type="date" name="startDate" id="startDate" class="form-control" ng-model="new.startDate">
      </div>

      <div class="form-group">
        <label for="start">End date</label>
        <input type="date" name="endDate" id="endDate" class="form-control" ng-model="new.endDate">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <ol>
      <li ng-repeat="entry in timelineEntries">{{ entry }}</li>
    </ol>
  </div>

  <div class="col-md-9">
    Display timeline {{ new.name }}

    <p id="timeline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ultricies ante, ac imperdiet risus. Etiam sapien dui, porta ut purus ut, aliquet malesuada justo. Mauris interdum rutrum quam vitae commodo. Nullam bibendum vel odio sed sodales. Curabitur sed diam sit amet est fringilla dictum ac ac quam. Integer semper, mauris eu consectetur accumsan, felis elit mollis odio, tempor ultricies sem sapien eget sem. Donec neque augue, iaculis id nibh tristique, consequat hendrerit lacus. Nulla pretium leo vulputate, facilisis justo et, posuere ipsum. Nam vehicula mattis iaculis. Etiam risus lacus, posuere ut feugiat in, dictum vel nunc. Nunc consequat feugiat ligula eu accumsan. Phasellus sem nibh, ultrices a ante eget, aliquet adipiscing tortor. Sed posuere porttitor lacus et vulputate. </p>

  </div>
</div>