
<div class="row">
  <div class="col-md-3">
    <form role="form" ng-submit="addEntry()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" ng-model="new.name">
      </div>

      <div class="form-group">
        <label for="start">Start date</label>
        <input type="date" name="startDate" id="startDate" class="form-control" ng-model="new.startDate">
      </div>

      <div class="form-group">
        <label for="start">End date</label>
        <input type="date" name="endDate" id="endDate" class="form-control" ng-model="new.endDate">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div id="peopleList">
      <h2>People</h2>

      <ul class="list-group">
        <li ng-repeat="entry in timelineEntries" class="list-group-item">
          {{ entry.name }}
          <button type="button" class="close pull-right" aria-hidden="true">&times;</button>
        </li>
      </ul>

    </div>
  </div>

  <div class="col-md-9">
    <div id="timeline" style="height: 500px"></div>
  </div>
</div>